.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--foreground);
}
.link {
  font-size:2em;
  padding:20px;
}
.link:hover {
  color:blue;
}
.responsiveGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  justify-items: center; /* centers items */
}

/* Tablet */
@media (max-width: 1100px) {
  .responsiveGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .responsiveGrid {
    grid-template-columns: 1fr;
  }
}

.imageContainer {
  position: relative;

  width: 100%;
  max-width: 500px;   /* 👈 maximum width they can ever be */
  
  aspect-ratio: 3 / 4;

  max-height: 80vh;   /* original size */
  min-height: 40vh;   /* half size */

  overflow: hidden;
}


.image {
  object-fit: cover;
}
.social {
  flex-direction:row;
}
@media (max-width: 650px) {
  .social {
  flex-direction:column;
  align-items:center;
}
}
